@{
    ViewData["Title"] = "联系我";
}
<h2>@ViewData["Title"]</h2>

<address>
    <p>
        <strong>QQ：</strong>: 798098898 <br>
        <strong>Email：</strong><a href="mailto:name_sunwei@outlook.com">name_sunwei@outlook.com</a> <br>
        <strong>Address：</strong> 中国 - 上海市
    </p>
</address>


